@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 
    Regra das cores:
        BG: #ffffff
        PRINCIPAL: 
        Secundário: 
        Terciario: 
        Extra: 
*/

body {
    background-color: #E2FCC5;
    margin: 0;
}

.cadastro, .login, .admin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #99BF73;
}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 900;
    font-size: 20px;
}

.navBar img {
    width: 20%;
    height: 20%;
}

.navBar a {
    text-decoration: none;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    color: #214013;
}

.navBar a:hover {
    color: #678C30;
}

.navBar i {
    color: #214013;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E2FCC5;
}

.formulario {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.tituloFormulario {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #214013;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #214013;
}

input[type="email"],
input[type="password"] {
    padding: 12px;
    border: 1px solid #214013;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #99BF73;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
}


p a {
    color: #678C30;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 900;
    font-size: 20px;
}

.navBar a i {
    margin-right: 8px;
    font-size: 18px;
}

.navBar img {
    width: 20%;
    height: 20%;
}

.navBar a {
    text-decoration: none;
    color: #214013;
    font-family: 'Poppins', sans-serif;
}

.navBar a:hover {
    color: #678C30;
}

.informacoesPrincipais {
    border-top: 1px solid transparent;
    background-color: #214013;
    color: #ffffff;
}

.informacoesPrincipais {
    padding-bottom: 60px;
}

.informacoesPrincipais p {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.informacoesPrincipais h1 {
    color: #E2FCC5;
    font-size: 32px;
    padding-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    margin-left: 80px;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    color: #214013;
    text-align: start;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    font-family: "Open Sans", sans-serif;
    gap: 16px;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #193010;
    margin-top: 0px;
    width: 370px;
    height: 340px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.card img {
    display: block;
    margin-top: 35px;
    width: 135px;
    height: 135px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card h1 {
    display: flex;
    margin-top: 17px;
    margin-bottom: 2px;
    font-size: 29px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #99BF73;
}

.card h2 {
    text-align: center;
    margin: 0 19px;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
}

.card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    height: 50%;
}

h5 {
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    margin: 0; 
    color: #214013;
    background-color: #678C30;
}

#facaSuaParte {
    align-content: center;
    background-color: #E2FCC5;
    margin-top: 20px;
    margin-bottom: 60px;
}

.dicasDoQueFazer {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.dicasDoQueFazer p {
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #193010;
}

.dicasDoQueFazer h1 {
    color: #214013;
    font-size: 32px;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
}

.conteudo {
    align-items: center;
    width: 100%;
}

.dicasDoQueFazer img {
    object-fit: cover;
    width: 100%;
    height: 700px;
    border-radius: 8%;
}

.imgEntreAssuntos {
    padding: 10px;
    margin-right: 20px;
    width: 100%;
    overflow: hidden;
}

.imgEntreAssuntos img {
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

.formulario {
    background-color: #ffffff;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
}

.tituloFormulario {
    text-align: center;
    color: #214013;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 900;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #214013;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
textarea {
    width: 97%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #678C30;
    outline: none;
    box-shadow: 0 0 5px rgba(103, 140, 48, 0.5);
}

#btn-submit {
    background-color: #678C30;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Open Sans", sans-serif;
}

#btn-submit:hover {
    background-color: #4d6a21;
}

#btn-limpar {
    background-color: #ffffff;
    color: #678C30;
    border: 2px solid #678C30 !important;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Open Sans", sans-serif;
}

#btn-limpar:hover {
    background-color: #e9e9e9;
}

footer {
    background-color: #678C30;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
}

footer a:hover {
    color: #00aaff;
}

footer a i {
    margin-right: 8px;
    font-size: 18px;
}

footer a:focus {
    outline: none;
}

footer a:hover i {
    color: #00aaff;
}
